
<br><h1>Create a new tweet:</h1></br>

  <form method="POST" action="/tweets">
    <p>Type tweet here:</p> <input type="text" name="content" id="content"><br>
    <br>
    <input type="submit" value="submit"></br>
  </form>
</div>
